.principal{
    height: 53vh;
    width: 30vw;
    border-radius: 0 50% 0 50%;
    box-shadow: 2px 5px 10px 3px rgba(0, 0, 0, 0.6);
}
#derecha{
    border-radius: 50% 0 50% 0;
    box-shadow: -2px 5px 10px 3px rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1220px){
    .principal{
        height: 40vh;
    }
}
@media only screen and (max-width: 900px){
    .contenedor-imgs{
        margin: 3vh 0;
        order: 2;
    }
    .principal{
        height: auto;
    }
}